.repository-card {
  @apply w-72 h-72 bg-transparent rounded-3xl p-0.5 relative shadow-[#604b4a30_0_70px_30px_-50px] transition-all duration-500 ease-in-out;
}
.repository-card__badge {
  transition: all 0.1s ease-in-out, z-index 0.3s ease-in-out 0.1s;

  @apply absolute left-[3px] top-[3px] z-10 bg-[#e81dff] rounded-tl-2xl rounded-br-2xl px-4 py-2;
}
.repository-card__link {
  @apply absolute right-3 top-3 bg-transparent border-none z-10;
}

.repository-card__link-svg {
  fill: #e81cff;
  stroke-width: 3px;
  width: 32px;
  height: 32px;
}

.repository-card__link-svg:hover {
  fill: #40c9ff;
}

.repository-card__profile-pic {
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  top: 3px;
  left: 3px;
  border-radius: 29px;
  z-index: 1;
  border: 0px solid #0f172ae8;
  @apply shadow-2xl;
  overflow: hidden;
  transition: all 0.5s ease-in-out 0.2s, z-index 0.5s ease-in-out 0.2s;
}

.repository-card__profile-pic-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transition: all 0.5s ease-in-out 0s;
}

.repository-card__profile-pic-svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 0px 0px;
  object-position: 0px 0px;
  transform-origin: 45% 20%;
  transition: all 0.5s ease-in-out 0s;
}

.repository-card__bottom {
  position: absolute;
  bottom: 3px;
  left: 3px;
  right: 3px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
  top: 80%;
  border-radius: 29px;
  z-index: 2;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px inset;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.repository-card__content {
  position: absolute;
  bottom: 0;
  left: 1.5rem;
  right: 1.5rem;
  height: 160px;
}

.repository-card__full-name {
  display: block;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}

.repository-card__name {
  font-size: 0.9rem;
  color: white;
  font-weight: 500;
  max-width: 140px;
}
.repository-card__bio {
  display: block;
  font-size: 0.9rem;
  color: white;
  margin-top: 1rem;
}

.repository-card__bottom-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
  right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.repository-card__button {
  background: white;
  color: #e81cff;
  border: none;
  border-radius: 20px;
  font-size: 0.65rem;
  padding: 0.4rem 0.6rem;
  box-shadow: rgba(165, 132, 130, 0.1333333333) 0px 5px 5px 0px;
}

.repository-card__button:hover {
  background: #40c9ff;
  color: white;
}

.repository-card:hover {
  border-top-left-radius: 55px;
}

.repository-card:hover .repository-card__bottom {
  top: 20%;
  border-radius: 80px 29px 29px 29px;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.repository-card:hover .repository-card__profile-pic {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  z-index: 3;
  border: 7px solid #40c9ff;
  box-shadow: rgba(96, 75, 74, 0.1882352941) 0px 5px 5px 0px;
  transition: all 0.5s ease-in-out, z-index 0.5s ease-in-out 0.1s;

}
.repository-card:hover .repository-card__badge {
  visibility: hidden;

}

.repository-card:hover .repository-card__profile-pic:hover {
  transform: scale(1.3);
  border-radius: 0px;
}

.repository-card:hover .repository-card__profile-pic-img {
  transform: scale(1);
  object-position: 0px 0px;
  filter: invert(0);
  background-color: white;
  transition: all 0.5s ease-in-out 0.5s;
}

.repository-card:hover .repository-card__profile-pic-svg {
  transform: scale(2.5);
  transition: all 0.5s ease-in-out 0.5s;
}
